.features {
  display: flex;
  justify-content: space-evenly;

  .features__icon {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $ColorPortfolioButton;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $colorMain;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
  }

  .features__text {
    font-size: 14px;
    line-height: 1.71;
    color: $colorLessITex;
    letter-spacing: 0.03em;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .features__display {
    flex-basis: calc((100% - 30px) / 2);
    padding: 0;
  }
  .features__wrapper {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__wrapper {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    flex-wrap: no-wrap;
  }
  .features__display {
    flex-basis: calc((100% - 120px) / 4);
    flex-direction: row;
  }
}
