.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $colorHeader;
}

@media screen and (min-width: 480) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 768) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
