.menu-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-nav__wrapper {
    display: flex;
    align-items: center;
  }

  .menu-nav__icon {
    margin-right: 10px;
  }

  .menu-nav__logo {
    color: $colorMain;
    margin-right: 93px;
  }

  .menu-nav__links {
    display: flex;
    align-items: center;
    padding: 0;
    flex-grow: 0;

    &--primary {
      gap: 46px;
      flex-grow: 3;
      justify-content: flex-start;
    }

    &--secondary {
      gap: 50px;
      flex-grow: 0;
      justify-content: flex-end;
    }
  }

  .menu-nav__link {
    color: $colorMain;
  }

  .menu-nav__link--envelope,
  .menu-nav__link--smartphone {
    fill: $colorLessITex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $colorLessITex;

    &::before {
      fill: $colorLessITex;
      content: "";
    }

    &:focus,
    &:hover {
      stroke: $colorAccent;
    }
  }

  .menu-nav--underline {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $colorAccent;
      bottom: -28px;
      left: 0;
    }
  }
}
