.offer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  padding-left: 0;

  .offer__wrapper {
    position: relative;
  }

  .offer__background {
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .offer__title {
    padding-block: 27px;
  }

  .offer__heading {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}
