.our-clients {
  width: 480px;

  .our-clients__heading {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .our-clients__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    flex-basis: calc((100% - 30px) / 2);
    flex-wrap: wrap;
  }

  .our-clients__icon {
    width: 210px;
    height: 92px;
    border: 1px solid $colorClients;
    border-radius: 4px;
    fill: $colorClients;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorBackground;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      fill: $colorAccent;
      border: 1px solid $colorAccent;
    }
  }
}

@media screen and (min-width: 768px) {
  .our-clients {
    width: 1170px;
  }

  .our-clients__heading {
    padding-bottom: 50px;
  }
  .our-clients__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    flex-wrap: no-wrap;
  }
  .our-clients__icon {
    width: 170px;
    height: 92px;
  }
}
