$colorMain: #212121;
$colorAccent: #2196f3;
$colorLessITex: #757575;
$colorBackground: #ffffff;
$ColorPortfolioButton: #f5f4fa;
$colorClients: #afb1b8;
$colorFooter: #2f303a;
$colorOutline: #000000;
$colorHeader: #ececec;

$margin: 0;
$padding: 0;
